/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
  max-height: 40vh;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
* {
  /* padding: 5; */
  box-sizing: border-box;
  /* marin: 0; */
} 

}
.bg {
  color: white;
  background-color: black;
}
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
/* canvas {
  display: block;
  vertical-align: bottom;
} ---- particles.js container ---- */
#particles-js {
  /* position: abs; */
  width: 100%;
  height: 40vh;
  background-color: #161819;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* final */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&family=Roboto:wght@300;400&display=swap");

html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.logo {
  z-index: -1;
  height: 170px;
  align-content: center;
  margin-top: 5vh;
  /* padding-top: 2.5em; */
}

.gif {
  height: 30%;
  min-height: 180px;
  background-color: black;
  padding-top: 8em;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrap {
  height: 70%;
  display: flex;
  background-color: black;
  margin-top: 8em;
  align-items: center;
}
.content {
  display: flex;
  padding-left: 7em;
  height: 50%;
  color: white;
  background-color: black;
  width: 75%;
  align-items: center;
  justify-content: space-around;
}
.qrcode {
  width: 25%;
  text-align: center;
}
.gif-size {

  width: 7em;
  /* width: 0%; */
  align-content: center;
  /* margin-bottom: 3em; */
}

.gif-size {
  -webkit-animation: rotation 7s infinite linear;
  height: 7em;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.GIF-size {
  border-radius: 50%;
  height: 18em;
  /* width: 170px; */
}
h2 {
  color: white;
  font-size: -webkit-xxx-large;
  margin: auto;
  padding: 4px;
  font-family: "Nunito Sans", sans-serif;
}

.info {
  margin-left: auto;
  margin-right: auto;
}

.para {
  margin-top: 5vh;
  font-size: larger;
  font-family: "Roboto", sans-serif;
}

.qr {
  height: 200px;
  /* width: 150px */
}
.svg{
  width: 60px;
}

.box{
  display: flex;
  align-items: center;
  color: #009e66;
  background-color: #161616;
  padding: 20px;
  border-radius: 15px;
  transition: 0.6s ease-in-out;
}

.tag{
  padding: 0 50px ;
  font-size: 2em;
}

.box:hover{
  background-color: #009e66;
  color: white;
}